# Learning Score
## Introduction:
 This notebook will read the excel files and calculated the difference of Z-score in 6 parameters with 'Day1-Day2', 'Day1-Day3', 'Day1-Day4', 'Day2-Day3', and 'Day2-Day4'.

In [1]:
import pandas as pd

# Excel File input path
excel_file_path = './d48_learning_score/d48_Learning_Score.xlsx'

# read data
data = pd.read_excel(excel_file_path, sheet_name= 'Z-score')

In [2]:

diff_z_score =  {'Name': [],
        'D1_D2_z_dist': [],
        'D1_D3_z_dist': [],
        'D1_D4_z_dist': [],
        'D2_D3_z_dist': [],
        'D2_D4_z_dist': [],
        'D1_D2_z_vel': [],
        'D1_D3_z_vel': [],
        'D1_D4_z_vel': [],
        'D2_D3_z_vel': [],
        'D2_D4_z_vel': [],
        'D1_D2_z_acc': [],
        'D1_D3_z_acc': [],
        'D1_D4_z_acc': [],
        'D2_D3_z_acc': [],
        'D2_D4_z_acc': [],
        'D1_D2_z_head_angle': [],
        'D1_D3_z_head_angle': [],
        'D1_D4_z_head_angle': [],
        'D2_D3_z_head_angle': [],
        'D2_D4_z_head_angle': [],
        'D1_D2_z_y_up': [],
        'D1_D3_z_y_up': [],
        'D1_D4_z_y_up': [],
        'D2_D3_z_y_up': [],
        'D2_D4_z_y_up': [],
        'D1_D2_z_y_mag': [],
        'D1_D3_z_y_mag': [],
        'D1_D4_z_y_mag': [],
        'D2_D3_z_y_mag': [],
        'D2_D4_z_y_mag': [],
        }
diff_z_score = pd.DataFrame(diff_z_score)
diff_z_score

Empty DataFrame
Columns: [Name, D1_D2_z_dist, D1_D3_z_dist, D1_D4_z_dist, D2_D3_z_dist, D2_D4_z_dist, D1_D2_z_vel, D1_D3_z_vel, D1_D4_z_vel, D2_D3_z_vel, D2_D4_z_vel, D1_D2_z_acc, D1_D3_z_acc, D1_D4_z_acc, D2_D3_z_acc, D2_D4_z_acc, D1_D2_z_head_angle, D1_D3_z_head_angle, D1_D4_z_head_angle, D2_D3_z_head_angle, D2_D4_z_head_angle, D1_D2_z_y_up, D1_D3_z_y_up, D1_D4_z_y_up, D2_D3_z_y_up, D2_D4_z_y_up, D1_D2_z_y_mag, D1_D3_z_y_mag, D1_D4_z_y_mag, D2_D3_z_y_mag, D2_D4_z_y_mag]
Index: []

[0 rows x 31 columns]

In [3]:
# get the distinct fish id
diff_z_score['Name']= data['name'].unique()

m = len(diff_z_score['Name'])
n = len(data['name'])

### Calculate the difference of dist

In [6]:
# set i j = 0
i = 0
j = 0
#parameter that you want to calculate
para = data['z_dist']
for i in range(0,n):
    for j in range(0,m):
        if diff_z_score['Name'][j] == data['name'][i]:
            #Get the value of day1
            if data['day'][i] == 1:
                day1 = para[i]
            if data['day'][i] == 2:
                day2 = para[i]
                diff_z_score['D1_D2_z_dist'][j] = abs(para[i]-day1)
            if data['day'][i] == 3:
                diff_z_score['D1_D3_z_dist'][j] = abs(para[i]-day1)
                diff_z_score['D2_D3_z_dist'][j] = abs(para[i]-day2)
            if data['day'][i] == 4:
                diff_z_score['D1_D4_z_dist'][j] = abs(para[i]-day1)
                diff_z_score['D2_D4_z_dist'][j] = abs(para[i]-day2)

<ipython-input-6-9448c139d216>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D2_z_dist'][j] = abs(para[i]-day1)
<ipython-input-6-9448c139d216>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D3_z_dist'][j] = abs(para[i]-day1)
<ipython-input-6-9448c139d216>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D3_z_dist'][j] = abs(para[i]-day2)
<ipython-input-6-9448c139d216>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D4_z_dist'][j] = abs(para[i]-day1)
<ipython-input-6-9448c139d216>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D4_z_dist'][j] = abs(para[i]-day2)

,Name,D1_D2_z_dist,D1_D3_z_dist,D1_D4_z_dist,D2_D3_z_dist,D2_D4_z_dist,D1_D2_z_vel,D1_D3_z_vel,D1_D4_z_vel,D2_D3_z_vel,...,D1_D2_z_y_up,D1_D3_z_y_up,D1_D4_z_y_up,D2_D3_z_y_up,D2_D4_z_y_up,D1_D2_z_y_mag,D1_D3_z_y_mag,D1_D4_z_y_mag,D2_D3_z_y_mag,D2_D4_z_y_mag
0,23,0.466080,2.361762,2.300013,2.827843,2.766093,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24,0.169022,0.638872,0.192667,0.469850,0.023645,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,0.032946,0.648079,1.172956,0.615134,1.140010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26,1.544743,0.320928,1.097293,1.223815,0.447450,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,1.416409,3.017147,2.159477,1.600738,0.743068,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,83,3.862329,0.069460,0.442674,3.792870,3.419655,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,84,0.936865,0.348926,1.409946,1.285791,2.346811,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,85,0.449844,0.020350,0.585525,0.470194,0.135681,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,86,0.029645,0.209027,0.287088,0.238672,0.316733,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,87,0.181174,0.507411,0.348669,0.326237,0.529843,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Calculate the difference of vel

In [7]:
# set i j = 0
i = 0
j = 0
#parameter that you want to calculate
para = data['z_vel']
for i in range(0,n):
    for j in range(0,m):
        if diff_z_score['Name'][j] == data['name'][i]:
            #Get the value of day1
            if data['day'][i] == 1:
                day1 = para[i]
            if data['day'][i] == 2:
                day2 = para[i]
                diff_z_score['D1_D2_z_vel'][j] = abs(para[i]-day1)
            if data['day'][i] == 3:
                diff_z_score['D1_D3_z_vel'][j] = abs(para[i]-day1)
                diff_z_score['D2_D3_z_vel'][j] = abs(para[i]-day2)
            if data['day'][i] == 4:
                diff_z_score['D1_D4_z_vel'][j] = abs(para[i]-day1)
                diff_z_score['D2_D4_z_vel'][j] = abs(para[i]-day2)

<ipython-input-7-ec3caeb101c8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D2_z_vel'][j] = abs(para[i]-day1)
<ipython-input-7-ec3caeb101c8>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D3_z_vel'][j] = abs(para[i]-day1)
<ipython-input-7-ec3caeb101c8>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D3_z_vel'][j] = abs(para[i]-day2)
<ipython-input-7-ec3caeb101c8>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D4_z_vel'][j] = abs(para[i]-day1)
<ipython-input-7-ec3caeb101c8>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D4_z_vel'][j] = abs(para[i]-day2)

,Name,D1_D2_z_dist,D1_D3_z_dist,D1_D4_z_dist,D2_D3_z_dist,D2_D4_z_dist,D1_D2_z_vel,D1_D3_z_vel,D1_D4_z_vel,D2_D3_z_vel,...,D1_D2_z_y_up,D1_D3_z_y_up,D1_D4_z_y_up,D2_D3_z_y_up,D2_D4_z_y_up,D1_D2_z_y_mag,D1_D3_z_y_mag,D1_D4_z_y_mag,D2_D3_z_y_mag,D2_D4_z_y_mag
0,23,0.466080,2.361762,2.300013,2.827843,2.766093,0.514686,2.298034,2.247940,2.812719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24,0.169022,0.638872,0.192667,0.469850,0.023645,0.162983,0.624300,0.186213,0.461318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,0.032946,0.648079,1.172956,0.615134,1.140010,0.030182,0.627341,1.152423,0.597159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26,1.544743,0.320928,1.097293,1.223815,0.447450,1.509519,0.319376,1.091516,1.190143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,1.416409,3.017147,2.159477,1.600738,0.743068,1.386174,2.970875,2.120507,1.584701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,83,3.862329,0.069460,0.442674,3.792870,3.419655,3.898811,0.077936,0.454920,3.820875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,84,0.936865,0.348926,1.409946,1.285791,2.346811,0.965295,0.321943,1.406865,1.287238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,85,0.449844,0.020350,0.585525,0.470194,0.135681,0.470324,0.021259,0.601217,0.491583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,86,0.029645,0.209027,0.287088,0.238672,0.316733,0.034319,0.209267,0.277322,0.243586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,87,0.181174,0.507411,0.348669,0.326237,0.529843,0.178859,0.499651,0.359654,0.320792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Calculate the difference of acc

In [8]:
# set i j = 0
i = 0
j = 0
#parameter that you want to calculate
para = data['z_acc']
for i in range(0,n):
    for j in range(0,m):
        if diff_z_score['Name'][j] == data['name'][i]:
            #Get the value of day1
            if data['day'][i] == 1:
                day1 = para[i]
            if data['day'][i] == 2:
                day2 = para[i]
                diff_z_score['D1_D2_z_acc'][j] = abs(para[i]-day1)
            if data['day'][i] == 3:
                diff_z_score['D1_D3_z_acc'][j] = abs(para[i]-day1)
                diff_z_score['D2_D3_z_acc'][j] = abs(para[i]-day2)
            if data['day'][i] == 4:
                diff_z_score['D1_D4_z_acc'][j] = abs(para[i]-day1)
                diff_z_score['D2_D4_z_acc'][j] = abs(para[i]-day2)

<ipython-input-8-4f4f7f4d7815>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D2_z_acc'][j] = abs(para[i]-day1)
<ipython-input-8-4f4f7f4d7815>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D3_z_acc'][j] = abs(para[i]-day1)
<ipython-input-8-4f4f7f4d7815>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D3_z_acc'][j] = abs(para[i]-day2)
<ipython-input-8-4f4f7f4d7815>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D4_z_acc'][j] = abs(para[i]-day1)
<ipython-input-8-4f4f7f4d7815>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D4_z_acc'][j] = abs(para[i]-day2)

,Name,D1_D2_z_dist,D1_D3_z_dist,D1_D4_z_dist,D2_D3_z_dist,D2_D4_z_dist,D1_D2_z_vel,D1_D3_z_vel,D1_D4_z_vel,D2_D3_z_vel,...,D1_D2_z_y_up,D1_D3_z_y_up,D1_D4_z_y_up,D2_D3_z_y_up,D2_D4_z_y_up,D1_D2_z_y_mag,D1_D3_z_y_mag,D1_D4_z_y_mag,D2_D3_z_y_mag,D2_D4_z_y_mag
0,23,0.466080,2.361762,2.300013,2.827843,2.766093,0.514686,2.298034,2.247940,2.812719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24,0.169022,0.638872,0.192667,0.469850,0.023645,0.162983,0.624300,0.186213,0.461318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,0.032946,0.648079,1.172956,0.615134,1.140010,0.030182,0.627341,1.152423,0.597159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26,1.544743,0.320928,1.097293,1.223815,0.447450,1.509519,0.319376,1.091516,1.190143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,1.416409,3.017147,2.159477,1.600738,0.743068,1.386174,2.970875,2.120507,1.584701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,83,3.862329,0.069460,0.442674,3.792870,3.419655,3.898811,0.077936,0.454920,3.820875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,84,0.936865,0.348926,1.409946,1.285791,2.346811,0.965295,0.321943,1.406865,1.287238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,85,0.449844,0.020350,0.585525,0.470194,0.135681,0.470324,0.021259,0.601217,0.491583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,86,0.029645,0.209027,0.287088,0.238672,0.316733,0.034319,0.209267,0.277322,0.243586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,87,0.181174,0.507411,0.348669,0.326237,0.529843,0.178859,0.499651,0.359654,0.320792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Calculate the difference of head_angle

In [9]:
# set i j = 0
i = 0
j = 0
#parameter that you want to calculate
para = data['z_head_angle']
for i in range(0,n):
    for j in range(0,m):
        if diff_z_score['Name'][j] == data['name'][i]:
            #Get the value of day1
            if data['day'][i] == 1:
                day1 = para[i]
            if data['day'][i] == 2:
                day2 = para[i]
                diff_z_score['D1_D2_z_head_angle'][j] = abs(para[i]-day1)
            if data['day'][i] == 3:
                diff_z_score['D1_D3_z_head_angle'][j] = abs(para[i]-day1)
                diff_z_score['D2_D3_z_head_angle'][j] = abs(para[i]-day2)
            if data['day'][i] == 4:
                diff_z_score['D1_D4_z_head_angle'][j] = abs(para[i]-day1)
                diff_z_score['D2_D4_z_head_angle'][j] = abs(para[i]-day2)

<ipython-input-9-0c81bb014ad9>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D2_z_head_angle'][j] = abs(para[i]-day1)
<ipython-input-9-0c81bb014ad9>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D3_z_head_angle'][j] = abs(para[i]-day1)
<ipython-input-9-0c81bb014ad9>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D3_z_head_angle'][j] = abs(para[i]-day2)
<ipython-input-9-0c81bb014ad9>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D4_z_head_angle'][j] = abs(para[i]-day1)
<ipython-input-9-0c81bb014ad9>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D4_z_head_angle'][j] = abs(para[i]-day2)

### Calculate the difference of y_up

In [10]:
# set i j = 0
i = 0
j = 0
#parameter that you want to calculate
para = data['z_y_up']
for i in range(0,n):
    for j in range(0,m):
        if diff_z_score['Name'][j] == data['name'][i]:
            #Get the value of day1
            if data['day'][i] == 1:
                day1 = para[i]
            if data['day'][i] == 2:
                day2 = para[i]
                diff_z_score['D1_D2_z_y_up'][j] = abs(para[i]-day1)
            if data['day'][i] == 3:
                diff_z_score['D1_D3_z_y_up'][j] = abs(para[i]-day1)
                diff_z_score['D2_D3_z_y_up'][j] = abs(para[i]-day2)
            if data['day'][i] == 4:
                diff_z_score['D1_D4_z_y_up'][j] = abs(para[i]-day1)
                diff_z_score['D2_D4_z_y_up'][j] = abs(para[i]-day2)

<ipython-input-10-844fbe2790aa>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D2_z_y_up'][j] = abs(para[i]-day1)
<ipython-input-10-844fbe2790aa>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D3_z_y_up'][j] = abs(para[i]-day1)
<ipython-input-10-844fbe2790aa>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D3_z_y_up'][j] = abs(para[i]-day2)
<ipython-input-10-844fbe2790aa>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D4_z_y_up'][j] = abs(para[i]-day1)
<ipython-input-10-844fbe2790aa>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D4_z_y_up'][j] = abs(para[i]-day2)

### Calculate the difference of y_mag

In [11]:
# set i j = 0
i = 0
j = 0
#parameter that you want to calculate
para = data['z_y_mag']
for i in range(0,n):
    for j in range(0,m):
        if diff_z_score['Name'][j] == data['name'][i]:
            #Get the value of day1
            if data['day'][i] == 1:
                day1 = para[i]
            if data['day'][i] == 2:
                day2 = para[i]
                diff_z_score['D1_D2_z_y_mag'][j] = abs(para[i]-day1)
            if data['day'][i] == 3:
                diff_z_score['D1_D3_z_y_mag'][j] = abs(para[i]-day1)
                diff_z_score['D2_D3_z_y_mag'][j] = abs(para[i]-day2)
            if data['day'][i] == 4:
                diff_z_score['D1_D4_z_y_mag'][j] = abs(para[i]-day1)
                diff_z_score['D2_D4_z_y_mag'][j] = abs(para[i]-day2)

<ipython-input-11-9d24d4385c5f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D2_z_y_mag'][j] = abs(para[i]-day1)
<ipython-input-11-9d24d4385c5f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D3_z_y_mag'][j] = abs(para[i]-day1)
<ipython-input-11-9d24d4385c5f>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D3_z_y_mag'][j] = abs(para[i]-day2)
<ipython-input-11-9d24d4385c5f>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D1_D4_z_y_mag'][j] = abs(para[i]-day1)
<ipython-input-11-9d24d4385c5f>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diff_z_score['D2_D4_z_y_mag'][j] = abs(para[i]-day2)

,Name,D1_D2_z_dist,D1_D3_z_dist,D1_D4_z_dist,D2_D3_z_dist,D2_D4_z_dist,D1_D2_z_vel,D1_D3_z_vel,D1_D4_z_vel,D2_D3_z_vel,...,D1_D2_z_y_up,D1_D3_z_y_up,D1_D4_z_y_up,D2_D3_z_y_up,D2_D4_z_y_up,D1_D2_z_y_mag,D1_D3_z_y_mag,D1_D4_z_y_mag,D2_D3_z_y_mag,D2_D4_z_y_mag
0,23,0.466080,2.361762,2.300013,2.827843,2.766093,0.514686,2.298034,2.247940,2.812719,...,1.489087,2.567361,2.756665,1.078273,1.267577,3.651987,0.350481,1.300842,3.301506,2.351145
1,24,0.169022,0.638872,0.192667,0.469850,0.023645,0.162983,0.624300,0.186213,0.461318,...,0.483282,0.119362,0.668542,0.363920,1.151824,0.090515,0.101973,0.211017,0.011458,0.301532
2,25,0.032946,0.648079,1.172956,0.615134,1.140010,0.030182,0.627341,1.152423,0.597159,...,0.238471,0.749587,1.725996,0.511115,1.964468,0.106457,0.426679,0.092840,0.533136,0.013618
3,26,1.544743,0.320928,1.097293,1.223815,0.447450,1.509519,0.319376,1.091516,1.190143,...,0.357554,1.397718,2.831607,1.040163,2.474053,0.248421,1.384772,3.946785,1.633193,4.195205
4,27,1.416409,3.017147,2.159477,1.600738,0.743068,1.386174,2.970875,2.120507,1.584701,...,0.828336,0.164333,0.067018,0.992669,0.895355,2.697445,3.885062,1.691056,1.187617,1.006390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,83,3.862329,0.069460,0.442674,3.792870,3.419655,3.898811,0.077936,0.454920,3.820875,...,1.846167,2.835145,1.042383,0.988978,0.803785,2.821494,0.554236,0.249041,3.375730,3.070535
60,84,0.936865,0.348926,1.409946,1.285791,2.346811,0.965295,0.321943,1.406865,1.287238,...,2.359656,1.929137,1.540017,0.430519,0.819638,2.051826,0.701188,2.758723,1.350638,0.706897
61,85,0.449844,0.020350,0.585525,0.470194,0.135681,0.470324,0.021259,0.601217,0.491583,...,1.981243,1.758460,2.485967,0.222783,0.504724,0.584653,1.155744,1.725349,0.571092,1.140697
62,86,0.029645,0.209027,0.287088,0.238672,0.316733,0.034319,0.209267,0.277322,0.243586,...,0.672596,0.052085,1.687606,0.724681,2.360202,1.185820,1.329222,0.368721,0.143403,1.554541
63,87,0.181174,0.507411,0.348669,0.326237,0.529843,0.178859,0.499651,0.359654,0.320792,...,1.397778,0.755963,0.092313,0.641815,1.305464,0.113885,0.563765,0.370689,0.677650,0.484574

In [13]:
# output as a csv file
diff_z_score.to_csv('d48_Difference_of_z_score.csv', index=False)